<div class="newsletter-wrapper" id="newsletter-wrapper">
    <h2 class="subtitle text-light">Subscribe to our newsletter</h2>

    <form v-on:submit.prevent="onSubmit">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <input type="email" v-model="email" class="input" placeholder="Your e-mail address..." >
                <button class="btn btn-success" style="margin-right: 0.5rem; margin-left: 0.5rem">Submit</button>
            </div>
        </div>
    </form>
    <div class="alert alert-success" role="alert" v-if="showSuccess">
        The email address was saved
    </div>
</div>

<script>
    var newsletter = new Vue({
        el: '#newsletter-wrapper',
        data() {
            return {
                email: '',
                showSuccess: false
            }
        },
        methods: {
            onSubmit() {
                console.log('onSubmit')
                fetch('/api/add_subscriber/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({'email': this.email})
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data)

                        this.showSuccess = true
                        this.email = ''
                    })
                    .catch(function(error) {
                        this.showSuccess = false
                        console.log('Error:', error);
                    });
            }
        }
    })
</script>