<div class="container">
    <div class="row d-flex justify-content-between">
        {% for p in list_products %}
            <div class="card"
                 style="width: 12rem; margin-right: 0.5rem; margin-left: 0.5rem;margin-bottom: 2rem; height: 26rem">
                <img src="{{ p.get_thumbnail }}" class="card-img-top " alt="product-image">
                <div class="card-body container bg-white"
                     style="position: absolute; margin-top: 16rem; height: 8.8rem; width: 11.8rem">
                    <div class="row d-flex justify-content-center">
                        <h6 class="card-title">{{ p.title }}</h6>
                    </div>
                </div>
                <div style="position:absolute; margin-top: 20.5rem; width: 11.8rem">
                    <div class="row" style="margin-left: 1rem">
                        <h6 class="card-text">${{ p.price }}</h6>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a href="{% url 'product_detail' p.category.slug p.slug %}"
                           class="btn btn-warning" style="width: 10rem; margin-top: 1rem">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>